#mainDiv
{
	width: 50%;
	float: left;
	background: transparent;
}

#walkerListDiv
{
	width: 300px;
	float: right;
	background: transparent;
}

li
{
	cursor: crosshair;
}

*
{
	background: black;
	color: white;
}

#canvasDiv
{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -10;
}